<main class="bg-desaturated-blue-card m-5 rounded-md overflow-hidden min-w-[20rem] sm:flex sm:flex-row-reverse">
  <picture class="relative flex justify-center items-center">
    <shared-image></shared-image>
    <div class="absolute bg-Soft-violet w-full h-full mix-blend-multiply"></div>
  </picture>

  <article class="flex flex-col justify-center items-center text-center p-8 sm:justify-around sm:items-start sm:text-left sm:w-[580px] sm:p-16">
    <statCard-title></statCard-title>
    <app-paragraph></app-paragraph>
    <statCard-stadistic></statCard-stadistic>
  </article>
</main>